.sideNavContainer {
    border-left: 1px solid #aca899;
    border-top: 1px solid #aca899;
    margin-bottom: -3px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.navMenuContainer {
    padding-top: 4px;
    background-color: #ffffff;
    border-left: 1px solid #aca899;
    padding-bottom: 40px;
    flex-grow: 1;
}

.navLinkContainer {
    display: flex;
    padding-left: 4px;
    padding-right: 4px;
}

.navLinkContainer:first-of-type {
    margin-left: -4px;
}

.navLink {
    color: #000000;
    text-decoration: none;
    margin-left: 4px;
}

.navLink:hover {
    text-decoration: underline;
    background-color: #ece9d8;
}

.navLink:active {
    background-color: #316ac5;
    color: #ffffff !important;
    outline: 1px solid #ce953a;
    outline-offset: -1px;
}
